/* Custom Cursor */
.cursor {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 999;
}
  
.outer {
    height: 75px;
    width: 75px;
    border: 2px solid #f7f7f770;
    z-index: 999;
}
  
.inner {
    background: #e7e7e782;
    transition: 250ms ease-out;
    z-index: 999;
}
  
.cursor.hover {
    transform: translate(-50%, -50%) scale(2);
    transition: transform 250ms ease-in-out;
    z-index: 999;
}
  
.inner.hover {
    background: #f7f7f7;
    mix-blend-mode: color-burn;
    z-index: 999;
}

/* Main Page */
body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(42, 42, 42);
    flex-direction: column;
    cursor: none;
    background-image: url('/assets/background-image-full.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navbar */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0.5rem 0;
    background-color: rgba(241, 241, 241, 0.424);
    border-radius: 50px;
    position: fixed;
    margin-top: 0.8rem;
    backdrop-filter: blur(10px);
    z-index: 2;

    ul {
        a {
            text-decoration: none;
            color: inherit;
            cursor: none;
        }

        li {
            list-style: none;
            display: inline-block;
            font-size: 20px;
            margin: 0 20px;
            border-radius: 30px;
            padding: 1rem 2rem;
            transition: all 0.4s;
        }

        li:hover{
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: rgba(244, 244, 244, 0.812);
            font-size: 23px;
        }
    }
}

/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
    margin-bottom: 10rem;
    margin-top: 5rem;
    /* background-image: url('/assets/background-image.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    h1 {
        font-size: 200px;
        font-weight: bolder;
        margin-bottom: -40px;
    }

    h3 {
        font-size: 50px;
        font-weight: bold;
    }

    #read-more-button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        background-color: white;
        border-radius: 10px;
        border-style: none;
        padding: 1rem 3rem;
        transition: all 0.4s;
    }

    #read-more-button:hover {
        background-color: rgb(71, 71, 71);
        color: aliceblue;
        cursor: none;
    }
}