/* Custom Cursor */
.cursor {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 999;
}

.outer {
    height: 75px;
    width: 75px;
    border: 2px solid #f7f7f770;
    z-index: 999;
}

.inner {
    background: #e7e7e782;
    transition: 250ms ease-out;
    z-index: 999;
}

.cursor.hover {
    transform: translate(-50%, -50%) scale(2);
    transition: transform 250ms ease-in-out;
    z-index: 999;
}

.inner.hover {
    background: #f7f7f7;
    mix-blend-mode: color-burn;
    z-index: 999;
}

/* Navbar */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0.5rem 0;
    background-color: rgba(241, 241, 241, 0.424);
    border-radius: 50px;
    position: fixed;
    margin-top: 0.8rem;
    backdrop-filter: blur(10px);
    z-index: 200;

    ul {
        a {
            text-decoration: none;
            color: inherit;
            cursor: none;
        }

        li {
            list-style: none;
            display: inline-block;
            font-size: 20px;
            margin: 0 20px;
            border-radius: 30px;
            padding: 1rem 2rem;
            transition: all 0.4s;
        }

        li:hover {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: rgba(244, 244, 244, 0.812);
        }
    }
}

/* Footer */
footer {
    box-shadow: 5px 5px 16px 4px #00000056;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    width: 100%;
    background-image: url('/assets/home/background/background-image.png');
    background-image: url('/assets/components/footer-background-full-2.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px 30px 0 0;

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        backdrop-filter: blur(10px);
        padding: 2rem 0;
        border-radius: 30px 30px 0 0;

        .footer-above {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px 30px 0 0;

            .footer-left-container {
                width: 50%;
                padding-right: 3rem;
                /* background-color: aqua */
            }
        
            .footer-right-container {
                width: 50%;
                /* background-color: blueviolet; */

                p {
                    border-radius: 30px;
                    padding: 0.5rem 2rem;
                    transition: all 0.4s;
                }

                p:hover {
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    background-color: rgba(244, 244, 244, 0.812);
                    color: #202020;
                }

                a {
                    text-decoration: none;
                    color: inherit;
                    cursor: none;
                }
            }
        }

        .footer-below {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}