/* Main Page */
body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5e159b;
    flex-direction: column;
    cursor: none;
    background-image: url('/assets/home/background/home-background-full.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    margin-bottom: 10rem;
    margin-top: 5rem;

    h1 {
        font-size: 200px;
        font-weight: bolder;
        margin-bottom: -40px;
    }

    h3 {
        font-size: 50px;
        font-weight: bold;
    }

    #read-more-button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        background-color: white;
        border-radius: 10px;
        border-style: none;
        padding: 1rem 3rem;
        transition: all 0.4s;
    }

    #read-more-button:hover {
        background-color: rgb(71, 71, 71);
        color: aliceblue;
        cursor: none;
    }
}

/* Feature Cards */
.feature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    background-color: #5e159b;
    width: 100%;
    border-radius: 30px 30px 0 0;

    h1 {
        font-size: 80px;
    }

    .feature-card-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .feature-card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgb(126, 126, 126);
            width: 23%;
            height: 25rem;
            margin-right: 2rem;
            margin-bottom: 5rem;
            border-radius: 20px;
            padding: 1rem 2rem;
            transition: all 0.4s;
            filter: grayscale(0%);
            backdrop-filter: blur(7px);

            h1 {
                font-size: 50px;
                text-align: center;
            }

            p {
                display: none;
                font-size: 40px;
                text-align: center;
            }
        }

        .feature-card:hover {
            transform: scale(1.1);
            filter: grayscale(100%);

            h1 {
                display: none;
            }

            p {
                display: flex;
            }
        }

        #card-one {
            background-image: url('/assets/home/feature-card/card-1.png');
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 5px 5px 16px 4px #00000056;
        }

        #card-two {
            background-image: url('/assets/home/feature-card/card-2.png');
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 5px 5px 16px 4px #00000056;
        }

        #card-three {
            background-image: url('/assets/home/feature-card/card-3.png');
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 5px 5px 16px 4px #00000056;
        }
    }
}

/* Best Seller */
.best-seller-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: white;
    margin-bottom: 6rem;

    h1 {
        font-size: 80px;
    }

    .best-seller-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 34rem;
        border-radius: 30px;
        box-shadow: 5px 5px 16px 4px #00000056;

        .left-container {
            width: 50%;
            height: 100%;
        }

        .right-container {
            width: 50%;
            height: 100%;
        }
    }
}

.songs-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(254, 255, 250);
    width: 100%;

    .songs-content {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .songs-description {
        width: 70%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        color: #3d0065;
        padding: 0 0 0 2rem;
        height: 100%;

        h1 {
            font-size: 30px;
            padding: 0;
            margin: 0;
        }

        p {
            font-size: 20px;
        }
    }
}

#songs-one {
    background-image: url('/assets/songs/music/pop/image/A\ Sky\ Full\ of\ Stars\ -\ Coldplay.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#songs-two {
    background-image: url('/assets/songs/music/rnb/image/HYBS\ -\ TipToe.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#songs-three {
    background-image: url('/assets/songs/music/k-pop/image/Super\ Shy\ -\ NewJeans.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#songs-four {
    background-image: url('/assets/songs/music/rnb/image/she\ likes\ spring\,\ I\ prefer\ winter\ -\ slchld.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#songs-five {
    background-image: url('/assets/songs/music/pop/image/Payphone\ -\ Maroon\ 5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#songs-six {
    background-image: url('/assets/songs/music/pop/image/Talking\ To\ The\ Moon\ -\ Bruno\ Mars.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#songs-seven {
    background-image: url('/assets/songs/music/k-pop/image/Broken\ Melodies\ -\ NCT\ DREAM.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#songs-card-one {
    height: 50%;
}

#songs-card-two {
    height: 25%;
}

#songs-card-three {
    height: 25%;
}

.songs-card-four {
    height: 25%;
}


/* Marquee */
.recommendation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 6rem;

    h1 {
        font-size: 80px;
        color: white;
    }
}

:root {
    --marquee-width: 100%;
    --marquee-height: 100%;
    /* --marquee-elements: 12; */
    /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #5e159b;
    color: #eee;
    overflow: hidden;
    position: relative;
    box-shadow: inset 5px 5px 16px 3px #111;
    border-radius: 30px;
    padding: 2rem 0;
}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;
    background: linear-gradient(to right, #111 0%, transparent 100%);
}

.marquee:after {
    right: 0;
    background: linear-gradient(to left, #111 0%, transparent 100%);
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

/* .marquee-content:hover {
    animation-play-state: paused;
  } */
@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4);
    /* 5rem; */
    white-space: nowrap;
}

.marquee-content li img {
    width: 100%;
    /* height: 100%; */
    border: 2px solid #eee;
}

marquee-content li img:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    :root {
        --marquee-width: 100%;
        --marquee-height: 100%;
        --marquee-elements-displayed: 3;
    }

    .marquee:before,
    .marquee:after {
        width: 10rem;
    }
}

/* Review */
.review-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    background-color: #5e159b;
    padding-bottom: 5rem;

    h1 {
        font-size: 80px;
    }

    .review-card-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .review-card {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.5rem;
            border-radius: 10px;
            width: 90%;
            transition: all 0.4s;
            /* margin: 0 5rem 1rem 5rem;
            padding: 1rem 5rem; */

            .review-card-left {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;

                img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                    border-radius: 10px;
                }
            }

            .review-card-right {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                width: 80%;
                padding: 3rem 5rem;
                border: 0 10px 10px 0;

                h3 {
                    font-size: 40px;
                    margin: 0;
                    padding: 0;
                }
            }

            #review-one {
                background-image: url('/assets/home/review-card/review-background-1.png');
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 0px 10px 10px 0;
            }

            #review-two {
                background-image: url('/assets/home/review-card/review-background-2.png');
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 0px 10px 10px 0;
            }

            #review-three {
                background-image: url('/assets/home/review-card/review-background-3.png');
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 0px 10px 10px 0;
            }
        }

        .review-card:hover {
            transform: scale(1.03);
        }
    }
}

#profile-one {
    background-image: url('/assets/home/review-card/profile-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#profile-two {
    background-image: url('/assets/home/review-card/profile-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#profile-three {
    background-image: url('/assets/home/review-card/profile-3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.review-card-left span {
    display: block;
    width: 100%; /* Adjust the width as needed */
    height: 14rem; /* Adjust the height as needed */
}