html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    cursor: none;
    background-image: url('/assets/register/register-background.png');
    background-size: contain;
    background-repeat: no-repeat;
    overflow-x: hidden;
    /* max-width: max-content; */
    margin: 0;
    padding: 0;
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    margin-bottom: 10rem;
    margin-top: 5rem;

    h1 {
        font-size: 200px;
        font-weight: bolder;
        margin-bottom: -40px;
    }

    h3 {
        font-size: 50px;
        font-weight: bold;
    }

    #read-more-button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        background-color: white;
        border-radius: 10px;
        border-style: none;
        padding: 1rem 3rem;
        transition: all 0.4s;
    }

    #read-more-button:hover {
        background-color: rgb(71, 71, 71);
        color: aliceblue;
        cursor: none;
    }
}

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(49, 49, 49);
    color: white;
    width: 100%;
    padding: 2rem 0 5rem 0;

    .register-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 80%;
        border-radius: 30px;
        background-color: rgb(157, 116, 247);
        background-image: url('/assets/register/form-background-full.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .register-background {
            width: 50%;
            height: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 30px 30px 0;

            img {
                width: 50%;
                border-radius: 30px;
                box-shadow: 5px 5px 16px 4px #00000056;
                transition: all 0.4s;
            }

            img:hover {
                transform: scale(1.1);
            }
        }

        .register-form-container {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.116);
            height: 580px;
            backdrop-filter: blur(5px);
            border-radius: 0 30px 30px 0;


            form {
                width: 70%;

                h1 {
                    font-size: 35px;
                }
            }
        }
    }
}

.inputs-gender {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;

    .radio-input {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.inputs {
    margin-bottom: 0.5rem;
}

.input-box {
    width: 100%;
    border-radius: 7px;
    border: none;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.4rem;
    color: blueviolet;
}

#submit-button {
    width: 100%;
    border-radius: 7px;
    border: none;
    padding: 0.8rem;
    background-color: rgb(80, 12, 145);
    color: white;
    cursor: none;
    font-size: 16px;
    transition: all 0.4s;
    margin-top: 2rem;
}

#submit-button:hover {
    background-color: rgb(40, 2, 54);
}

/* Pop up */
section {
    position: fixed;
    height: 10px;
    width: 100%;
    background: #e3f2fd;
}

.button-popup {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 14px 22px;
    border: none;
    background: #4070f4;
    border-radius: 6px;
    cursor: pointer;
}

.button-popup:hover {
    background-color: #265df2;
}

.show-modal,
.modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

section.active .show-modal {
    display: none;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}

section.active .overlay {
    opacity: 1;
    pointer-events: auto;
}

.modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
}

section.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.modal-box i {
    font-size: 70px;
    color: #4070f4;
}

.modal-box h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #333;
}

.modal-box h3 {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
}

.modal-box .buttons {
    margin-top: 25px;
}

.modal-box button {
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;
}